{% extends 'home/index.html' %}
{% load static %}

{% block nasa_blog_title %}
    top 10
{% endblock %}

{% block nasa_blog_header %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/home/assets/img/app-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>NASA BLOG</h1>
                    <!-- subtitulo por si queremos agregarle abajo-->
                    <span class="subheading">Top10 - Las misiones más importantes</span>
                    <!-- código 2 para check de user
                    
                    -->
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block nasa_blog_content %}
<!-- Post preview-->
<div class="post-preview">
    <h3 class="post-subtitle">{{ top10.title }}</h3>
    
    <p class="post-meta">( {{ top10.created_at }} )</p>
    <p class="card-text ">{{ top10.content }}</p>
    <a class="button_custom_left" href="{% url 'top10:top10-list' %}">Volver a la lista Top10</a>

    <hr class="my-4" />
{% endblock %}