{% extends "home/index.html" %}
{% load static %}

{% block nasa_blog_title %}
About
{% endblock %}

{% block nasa_blog_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>NASA BLOG</h1>
                    <span class="subheading">About</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block nasa_blog_content %}
    <div>
        <p>hello</p>
        
        {% for about in about %}
        <div class="post-preview">
            <h2 class="post-title">{{ about.description }}</h2>
            
        </div>  
        {% endfor %}  
    {% for picture in picture_list %}
        <!-- Post preview-->
        <div id="galery_column">
            <a href="{% url 'picture:picture-detail' picture.id %}">
                <h2 class="post-title">{{ picture.title_name }}</h2>
                <h5 class="post-subtitle">Capturada por {{ picture.taken_by }} en {{ picture.taken_date }}</h5>
                <img height="250px" width="250px" src="{{ picture.image.url }}">
            </a>
            <!--<p class="post-meta">
                Creado por
                <span style="color: #0b4956;" href="">{{ picture.owner.username }}</span>
                ( {{ picture.created_at }} )
            </p>-->
        </div>
    
        <!-- Divider-->
        <hr class="my-4" />
    {% endfor %}
    </div>
{% endblock %}


