{% extends "home/index.html" %}
{% load static %}

<!-- ckeditor-->
{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}
<!-- ckeditor-->

{% block nasa_blog_title %}
Picture Create-Update Form
{% endblock %}

{% block nasa_blog_header %}
<header class="masthead" style="background-image: url('/static/home/assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-15 col-lg-16 col-xl-14">
                <div class="site-heading">
                    <h1>NASA BLOG</h1>
                    <span class="subheading">Subir/Editar Imagen</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block nasa_blog_content %}
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }} <!-- ckeditor-->
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Actualizar Post" />
        </form>
    </div>
    <!-- Divider c/link a Galería-->
    <hr class="my-4" />
    <a class="button_custom_left" href="{% url 'picture:picture-list' %}">Volver a Galería</a>
    <!-- Divider-->
    <hr class="my-4" />
{% endblock %}